@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *, ::before, ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #000;
    }

    @font-face {
        font-family: IBM Bold;
        font-display: swap;
        src: url(./assets/Fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
    }
    
    @font-face {
        font-family: IBM Medium;
        font-display: swap;
        src: url(./assets/Fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
    }
    
    @font-face {
        font-family: IBM SemiBold;
        font-display: swap;
        src: url(./assets/Fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf);
    }
        
    @font-face {
        font-family: TestSohneMono;
        font-display: swap;
        src: url(./assets/Fonts/TestSohne/TestSohneMono-Buch-BF663d89cbcec64.otf);
    }

    @font-face {
        font-family: BebasNeueRegular;
        font-display: swap;
        src: url(./assets/Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
    }
    
    .css-typing p {
        border-right: 2px solid white;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .css-typing p:nth-child(1) {
        width: 100%;
        -webkit-animation: type 2s steps(40, end);
        animation: type 2s steps(40, end);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    
    .css-typing p:nth-child(2) {
        width: 100%;
        opacity: 0;
        -webkit-animation: type2 2s steps(40, end);
        animation: type2 2s steps(40, end);
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    
    .css-typing p:nth-child(3) {
        width: 100%;
        opacity: 0;
        -webkit-animation: type3 4s steps(40, end);
        animation: type3 2s steps(40, end);
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    
    .css-typing p:nth-child(4) {
        width: 100%;
        opacity: 0;
        -webkit-animation: type4 2s steps(30, end), blink .5s step-end infinite alternate;
        animation: type4 2s steps(30, end), blink .5s step-end infinite alternate;
        -webkit-animation-delay: 6s;
        animation-delay: 6s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    
    @keyframes type {
        0% {
            width: 0;
        }
        99.9% {
            border-right: .15em solid white;
        }
        100% {
            border: none;
        }
    }
    
    @-webkit-keyframes type {
        0% {
            width: 0;
        }
        99.9% {
            border-right: .15em solid white;
        }
        100% {
            border: none;
        }
    }
    
    @keyframes type2 {
        0% {
            width: 0;
        }
        1% {
            opacity: 1;
        }
        99.9% {
            border-right: .15em solid white;
        }
        100% {
            opacity: 1;
            border: none;
        }
    }
    
    @-webkit-keyframes type2 {
        0% {
            width: 0;
        }
        1% {
            opacity: 1;
        }
        99.9% {
            border-right: .15em solid white;
        }
        100% {
            opacity: 1;
            border: none;
        }
    }
    
    @keyframes type3 {
        0% {
            width: 0;
        }
        1% {
            opacity: 1;
        }
        100% {
            opacity: 1;
            border: none;
        
        }
    }
    
    @-webkit-keyframes type3 {
        0% {
            width: 0;
        }
        1% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes type4 {
        0% {
            width: 0;
        }
        1% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-webkit-keyframes type4 {
        0% {
            width: 0;
        }
        1% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }      
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }
    @-webkit-keyframes blink {
        50% {
            border-color: tranparent;
        }
    }
}
